.closedSection {
    clear: left;
    display: block;
}

.titleContainer {
    background-color: lightgray;
    margin-top: 10px;
    left: 0px;
    width: 100%;
    height: 25px;
}

.sectionTitle {
    float: left;
    margin: 5px;
}

.sectionArrow {
    float: right;
    margin: 5px;
}

.openSection {
    display: none;
}

.openSection .sectionContainer {
    background-color: white;
}

.section.open .openSection {
    display: block;
}

.section.open .closedSection {
    display: none;
}

.sectionContent {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-top: 20px;
}